#camera {
      width: 80vw;
      height: 80vh;
      margin: 0 auto;
      display: block;
      position: fixed;
      left: 0px;
      top: 10vh;
    transform: scaleX(-1);
    transform-origin: center;      
    }

    .flashAnimation {
      animation: flash 0.5s linear;
    }
@keyframes flash {
      0% { opacity: 0; }
      1% { opacity: 1; }
      100% { opacity: 0; }
    }

    #thumbnails {
        width: 20vw;
        height: 80vh;
        position: fixed;
        left:80%;
        top: 10vh;
    }

    .thumbnail {
      width: 100%;
      height: 25%;
      object-fit: cover;
      margin-bottom: 5px;      
    }

    #header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:10vh;
        background-color:rgb(100, 67, 148);
        color: white;
        padding: 3px;
        text-align: center;
    }
    #bottombar {
      height:20vh;
      position: fixed;
      bottom: 0px;
      left: 0;
      width: 100%;
      background-color:rgb(100, 67, 148);
      color: white;
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }

    .polaroid {
        background: #fff;
        text-align: center;
        width: 15vw;
        padding: 5px;
        margin: 1rem;
        box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
        padding-bottom: 20px;
    }
    #countdown{
        position: fixed;

        height: 10vh;
        bottom: 5vh;
        left: 20%;
        font-size: 6rem;
        vertical-align: middle;
        color: white;
        text-shadow: 0 0 10px black;
        background: #ffffff82;
        /* width: 100px; */
        /* height: 100px; */
        text-align: center;
        border-radius: 171px;
        padding-left: 61px;
        padding-right: 61px;
        aspect-ratio: 1;
    }

    #camera-down {
        position: fixed;
        bottom: 0vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    #lightbox {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(99, 67, 148, 0.708);
    }
    #lightbox img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }

    #lightbox div {
        position: relative;
      top: -84px;
      text-align: center;
      color: white;
      box-shadow: 1px solid black;
      font-size: 60px;
    }
    @keyframes pulse {
      0%, 100% { opacity: 1; }
      16.6% { opacity: 0.3; }
      33.3% { opacity: 1; }
      50% { opacity: 0.3; }
      66.6% { opacity: 1; }
      83.3% { opacity: 0.3; }
    }

    #camera-down.pulse {
      animation: pulse 1s linear infinite;
    }